{% macro organization_option_tag(organization, selected_org) %}
  {% block organization_option scoped %}
    <option value="{{ organization.id }}"{%
      if selected_org %} selected="selected"{% endif
      %}>{{ organization.display_name }}</option>
  {% endblock %}
{% endmacro %}

<div data-module="decision-visibility"
     data-allow-org-admins-public="{{ h.allow_org_admins_public_decisions() | tojson }}">

  {% snippet "scheming/form_snippets/_organization_select.html",
    field=field,
    data=data,
    errors=errors,
    organizations_available=h.organizations_available('create_dataset'),
    org_required=not h.check_config_permission('create_unowned_dataset')
      or h.scheming_field_required(field),
    organization_option_tag=organization_option_tag %}

  {% block package_metadata_fields_visibility %}
    <div class="control-group form-group control-medium">
      <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
      <div class="controls">
        <select id="field-private" name="private" class="form-control form-select">
          {% if h.check_access('sysadmin') or h.allow_org_admins_public_decisions() %}
            <option value="True">{{ _('Private') }}</option>
            <option value="False">{{ _('Public') }}</option>
          {% else %}
            <option value="True" selected="selected">{{ _('Private') }}</option>
          {% endif %}
        </select>
      </div>
    </div>
  {% endblock %}
</div>