{% ckan_extends %}

{# Έλεγχος αν θέλουμε να μην εμφανίζεται το tab των groups από το ckan.ini #}
{% set hide_group_tabs = h.asbool(config.get('ckanext.data_gov_gr.user.hide_group_tabs', False)) %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('user.read', h.humanize_entity_type('package', dataset_type, 'content tab') or _('Datasets'), id=user.name, icon='sitemap') }}
  {{ h.build_nav_icon('user.read_organizations', h.humanize_entity_type('organization', org_type, 'content tab') or _('Organizations'), id=user.name, icon='building') }}

  {% if not hide_group_tabs %}
    {{ h.build_nav_icon('user.read_groups', h.humanize_entity_type('group', group_type, 'content tab') or _('Groups'), id=user.name, icon='users') }}
  {% endif %}

  {% if h.check_access('api_token_list', {'user': user['name']}) %}
    {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name, icon='key') }}
  {% endif %}
{% endblock %}
