{% ckan_extends %}

{% set enable_ckan_login = h.enable_internal_login() %}

{% block primary_content %}
  <article class="module">
    <div class="module-content">
      {% block primary_content_inner %}
      <h1 class="page-heading">{{ _('Reset your password') }}</h1>
      {% block form %}
        {% if enable_ckan_login %}
        <form action="" method="post">
          {{ h.csrf_input() }} 
          <div class="form-group">
            <label for="field-username">{{ _('Email or username') }}</label>
            <input id="field-username" class="control-medium form-control" name="user" value="" type="text" />
          </div>

          {% if g.recaptcha_publickey %}
            {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
          {% endif %}

          <div class="form-actions">
            {% block form_button %}
            <button class="btn btn-primary" type="submit" name="reset">{{ _("Request Reset") }}</button>
            <a class="btn btn-primary" href="{{ h.url_for('keycloak.sso') }}">{{ _("Request SSO Reset") }}</a>
            {% endblock %}
          </div>
        </form>

        {% else %}
        <a class="btn btn-primary" href="{{ h.url_for('keycloak.sso') }}">{{ _("Request Reset") }}</a>
        {% endif %}
      {% endblock %}
      {% endblock %}
    </div>
  </article>
{% endblock %}
