{% ckan_extends %}

{# Optional: hide the "Data and Resources" section on data-service ("API") pages #}
{% block package_resources %}
  {% set current_type = dataset_type or (pkg.type if pkg else 'dataset') %}
  {% set hide_resources_section = h.get_config_as_bool('ckanext.data_gov_gr.data_service.hide_resources_section', True) %}

  {% if current_type == 'data-service' and hide_resources_section %}
    {# intentionally hidden #}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block package_tags %}
  {% set current_type = dataset_type or (pkg.type if pkg else 'dataset') %}

  {% if current_type in ['data-service', 'decision'] and pkg.tags %}
    <section class="tags">
      <ul class="tag-list">
        {% for tag in pkg.tags %}
          <li>
            <a class="tag" href="{{ h.url_for(current_type ~ '.search', tags=tag.name) }}" title="{{ tag.display_name }}">{{ tag.display_name|truncate(22) }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
