{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{{ 'Statistics' }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <section class="module-content">
      <h2>{{ _('Statistics') }}</h2>
      <div class="list-group stats-overview">
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('stats.datasets_by_theme') }}">
          <i class="fa fa-chart-pie"></i> {{ _('Datasets Per Theme') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_datasets_by_publisher_type') }}">
          <i class="fa fa-sitemap"></i> {{ _('Datasets Per Publisher Type') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_datasets_per_organization') }}">
          <i class="fa fa-building"></i> {{ _('Datasets Per Organization') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_datasets_vs_services') }}">
          <i class="fa fa-balance-scale"></i> {{ _('Datasets vs Data Services') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_datasets_by_hvd_category') }}">
          <i class="fa fa-star"></i> {{ _('Datasets Per High-Value Category') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('stats.organizations_by_publisher_type') }}">
          <i class="fa fa-building"></i> {{ _('Organizations Per Publisher Type') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_total_datasets') }}">
          <i class="fa fa-chart-line"></i> {{ _('Total Number of Packages') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_dataset_revisions') }}">
          <i class="fa fa-chart-area"></i> {{ _('Package Revisions per Week') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_most_edited') }}">
          <i class="fa fa-edit"></i> {{ _('Most Edited Packages') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_largest_groups') }}">
          <i class="fa fa-users"></i> {{ _('Largest Groups') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_top_tags') }}">
          <i class="fa fa-tags"></i> {{ _('Top Tags') }}
        </a>
        <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_top_creators') }}">
          <i class="fa fa-user"></i> {{ _('Users Creating Most Datasets') }}
        </a>
        {% set powerbi_url = h.get_powerbi_embed_url() %}
        {% if powerbi_url %}
          <a class="list-group-item list-group-item-action" href="{{ h.url_for('dataset_type.stats_powerbi') }}">
            <i class="fa fa-chart-bar"></i> {{ _('Power BI Αναφορές') }}
          </a>
        {% endif %}
      </div>
    </section>
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'ckanext/stats/snippets/menu.html', active='' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% asset "ckanext_stats/stats" %}
{% endblock %}
