{% extends "page.html" %}

{% block breadcrumb_content %}
  <li><a href="{{ h.url_for('stats.index') }}">{{ _('Statistics') }}</a></li>
  <li class="active">{{ _('Users Creating Most Datasets') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module">
    <section id="stats-most-create" class="module-content">
      <h2>{{ _('Users Creating Most Datasets') }}</h2>
      {% if top_package_creators %}
        <button id="toggleTopCreatorsView" class="btn btn-default mb-5" data-chart-label="{{ _('Switch to Chart') }}" data-table-label="{{ _('Switch to Table') }}">
          <i class="fa fa-table"></i> {{ _('Switch to Table') }}
        </button>

        <div id="top-creators-table-view" style="display: none;">
          <table class="table table-chunky table-bordered table-striped">
            <thead>
              <tr>
                <th>{{ _('User') }}</th>
                <th class="metric">{{ _('Number of Datasets') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for user, num_packages in top_package_creators %}
                <tr>
                  <td class="media">{{ h.linked_user(user) }}</td>
                  <td class="metric">{{ num_packages }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div id="top-creators-bar-chart" style="width: 100%; height: 500px;"></div>
      {% else %}
        <p class="empty">{{ _('No users found') }}</p>
      {% endif %}
    </section>
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'ckanext/stats/snippets/menu.html', active='top_creators' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
  <script src="{{ url_for('static', filename='javascript/stats/top-creators.js') }}"></script>
{% endblock %}
