{% set fields = data[field.field_name] %}

{% block subfield_display %}
  {% for field_data in fields %}
    <div class="panel panel-default">
        <header class="panel-heading">
          {# Remove loop.index if the field has repeating_once set to true #}
          {% if field.repeating_once %}
            {{ h.scheming_language_text(field.repeating_label or field.label) }}
          {% else %}
            {{ h.scheming_language_text(field.repeating_label or field.label) }} {{ loop.index }}
          {% endif %}
        </header>
      <div class="panel-body">
        <dl class="scheming-subfield-list">
          {% for subfield in field.repeating_subfields %}
            <dt class="dataset-label">
              {{ h.scheming_language_text(subfield.label) }}
            </dt>
            <dd>
            {% set raw_value = field_data.get(subfield.field_name, '') %}
            {% set max_len = 700 %}
            {% if subfield.field_name in ('bbox', 'geom', 'centroid') and raw_value and raw_value|string|length > max_len %}
              <div class="subfield-truncated-wrapper">
                <span class="subfield-truncated-text">
                  {{ raw_value|string|truncate(max_len, True, '…') }}
                </span>
                <span class="subfield-tooltip-text">{{ raw_value }}</span>
              </div>
            {% else %}
              {%- snippet 'scheming/snippets/display_field.html',
                field=subfield,
                data=field_data,
                entity_type=entity_type,
                object_type=object_type
              -%}
            {% endif %}
            </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
  {% endfor %}
{% endblock %}
