{% ckan_extends %}

{% block header_site_search %}
{% endblock %}

{% block header_logo %}
{% if g.site_logo %}
<a class="navbar-brand" href="{{ h.url_for('home.index') }}">
  <img src="{{ h.url_for_static_or_external(g.site_logo) }}"
       alt="{{ g.site_title }}" title="{{ g.site_title }}"
       style="max-height:50px; width:auto;">
</a>
{% else %}
  {% set _logo_preset = config.get('ckanext.data_gov_gr.header.logo_preset', 'logo_1.svg') %}
  {% if _logo_preset %}
  <a class="navbar-brand" href="{{ h.url_for('home.index') }}">
    <img src="{{ h.url_for_static('/images/logo/' ~ _logo_preset) }}"
         alt="{{ g.site_title }}" title="{{ g.site_title }}"
         style="max-height:50px; width:auto;">
  </a>
  {% else %}
  <a class="navbar-brand" href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
  {% endif %}
{% endif %}
{% endblock %}

{% block header_site_navigation_tabs %}
  {% set dataset_type = h.default_package_type() %}
  {% set org_type = h.default_group_type('organization') %}
  {% set group_type = h.default_group_type('group') %}
  {% set more_label = 'Περισσότερα' if h.lang() == 'el' else _('More') %}

  {% set nav_items = [
    ('dataset' ~ '.search', h.humanize_entity_type('package', 'dataset', 'main nav') or _('Datasets'), ["dataset", "resource"]),
    ('data-service' ~ '.search', _('APIs'), ["data-service"]),
    (org_type ~ '.index',
      h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
    ('dataset_type.more_page', more_label, ['more']),
    ('showcase.search', _('Showcases'), ["showcase"])
  ] %}

  {% if h.should_show_decision_menu() %}
    {% set _ = nav_items.insert(2, ('decision' ~ '.search', _('Decisions'), ["decision"])) %}
  {% endif %}

  {{ h.build_nav_main(*nav_items) }}

{% endblock %}
