include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/csvinvite *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/csvinvite/migration *.ini *.py *.mako
recursive-include ckanext/csvinvite/public *.*
