include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/vocabulary_admin *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/vocabulary_admin/migration *.ini *.py *.mako
recursive-include ckanext/vocabulary_admin/public *.*
