include README.md
include LICENSE
include requirements.txt

recursive-include ckanext/athens_theme/templates *
recursive-include ckanext/athens_theme/public *

recursive-include ckanext/athens_theme/i18n *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]