{% extends 'ckanext_pages/blog_edit_base.html' %}

{% block subtitle %}{{ _('Edit Article')}} {% endblock %}

{% block primary_content_inner %}
  {# Hide the Header Order field for blog articles as well #}
  {% snippet 'ckanext_pages/base_form.html', page=page, data=data, errors=errors, type='blog', hide_field_order=true %}
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle icon-info-sign"></i>
      {{ _('Blog') }}
    </h2>
    <div class="module-content">
      <p>{{ _('Add blog articles to CKAN here.') }}</p>
    </div>
  </div>
{% endblock %}
