{#
Displays a tree of organizations

orgs    - List of organizations

Example:

{% snippet 'organization/snippets/organization_tree.html', top_nodes=h.group_tree(type_='organization'), use_longnames=False %}

#}

{% set ckan_min_ver = h.ckan_version().split('.')[1] %}
{% set file_type = 'asset' if ckan_min_ver|int >= 9 else 'resource' %}
{% include 'hierarchy/snippets/hierarchy_' ~ file_type ~ '.html' %}

{{ h.render_tree_html(top_nodes, type_='organization', use_longnames=use_longnames|default(false)) }}
